:root {
  --brown: #b64926;
}
/*!Navbar*/
.navbar {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-link {
  color: #468966;
  transition: color 0.5s;
}

.nav-link:hover {
  color: var(--brown);
}
/*!Carousel*/
.carousel-item {
  max-height: calc(100vh - 88px);
}
.carousel-item h5 {
  color: var(--brown);
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px black;
}
.carousel-item p {
  text-shadow: 3px 3px 3px black;
  font-weight: 600;
}
.carousel-item .btn {
  width: 10rem;
  margin-bottom: 1rem;
}
.carousel-indicators button {
  background-color: #b74119 !important;
  height: 0.4rem !important;
  width: 3rem !important;
  margin-right: 0.5rem !important;
}
.aboutclr {
  color: var(--brown);
}

/* Instructors */
section#instructors .card {
  transition: transform 0.7s;
}
section#instructors .card:hover {
  transform: scale(1.05);
}

section#instructors .socials i {
  transition: opacity 0.5s;
}

section#instructors .socials i:hover {
  opacity: 0.5;
}
