@import "./variables";
.container {
  text-align: center;

  .card {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.7);
    margin: 1.5rem auto;
    max-width: 300px;
    margin-bottom: 5rem;
    img {
      width: 40%;
      border-radius: 50%;
      margin: 1rem;
    }
    h1 {
      color: $Red;
    }
    h2 {
      color: $Yellow;
    }
    .buttons {
      button {
        border: 1px solid $Blue;
        border-radius: 1rem;
        cursor: pointer;
        margin-right: 0.5rem;
        &:hover {
          opacity: 0.8;
        }
      }

      &--small {
        background-color: $Orange-1;
        padding: 0.7rem;
      }
      &--large {
        background-color: $Orange-2;
        padding: 0.7rem 1.5rem;
      }
    }
  }
}
