<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello This is home page students > templates</h1>
    <p>{{ tanım }} "Değişkeni yakaladğımız alan"</p>
    <!-- Django templates language de çift süslü parantez ile değişkenleri yakalıyabiliyoruz {{ variables }} -->
    <p>{{ desc }}</p>
    <p>{{ number }}</p>
    <hr />
    <p>{{ list1 }}</p>
    <p>{{ list1.1 }}</p>
    <!-- İndexleme python daki gibi köşeli parantez değil . notasyonu ile sağlanır yani pythondaki list1[1] eşittir -->
    <p>{{ list1.3.1 }}</p>
    <hr />
    <p>{{ dict1}}</p>
    <p>{{ dict1.key1 }}</p>
    <ul>
      {% for i in list1 %}
      <li>{{ i }}</li>
      {% endfor %}
      <!-- end for for döngüsünün bittiğini bildirir-->
    </ul>
    <hr />
    {% if number == 1112 %}
    <p>Back-end</p>
    {% else %}
    <p>Front-end</p>
    {% endif %}
    <hr />
    <p>add value : {{ number|add:"2" }}</p>
    <p>value : {{ number }}</p>
    <hr />
    <p>capfirst : {{ tanım|capfirst }}</p>
    <hr />
    {{ dict_list|dictsort:"age" }}
    <hr />
    {{ desc|truncatechars:12 }}
  </body>
</html>
