:root {
  --brown: #a1523f;
}
/*!Navbar*/
.navbar {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-link {
  color: #468966;
  transition: color 0.5s;
}

.nav-link:hover {
  color: var(--brown);
}
/*!Carousel*/
.carousel-item {
  max-height: calc(100vh - 88px);
}
.carousel-item h5 {
  color: var(--brown);
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px black;
}
.carousel-item p {
  text-shadow: 3px 3px 3px black;
  font-weight: 600;
}
.carousel-item .btn {
  width: 10rem;
  margin-bottom: 1rem;
}
.carousel-indicators button {
  background-color: #b74119 !important;
  height: 0.4rem !important;
  width: 3rem !important;
  margin-right: 0.5rem !important;
}
.aboutclr {
  color: var(--brown);
}
.aboutbclr {
  background-color: var(--brown);
  border-color: white;
}

/* Instructors */
section#instructors .card {
  transition: transform 0.7s;
}
section#instructors .card:hover {
  transform: scale(1.05);
}

section#instructors .socials i {
  transition: opacity 0.5s;
}

section#instructors .socials i:hover {
  opacity: 0.5;
}

section#student img {
  max-width: 400px;
  min-width: 250px;
}
section#courses .nav button {
  color: var(--brown);
}
section#courses .nav-link.active {
  background-color: #809bed;
}

footer i {
  font-size: 2rem;
  color: white;
  margin-right: 0.7rem;
}
footer i:hover {
  color: var(--brown);
  transition: all 0.5s;
}
.btn-up {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  color: var(--brown);
  background-color: white;
  border: 2px solid var(--brown);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
}
.btn-up:hover {
  color: white;
  background-color: var(--brown);
  font-size: 2rem;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}
